*{
margin:0;
padding:0;
outline:0;
font-family: 'Zen Kurenaido', sans-serif;
}
a.nxm{
background-color:#fff; color:#088A4B; width:70%; height:53px; border-radius:1px; border: 1px solid #088A4B;;
transition:0.33s;
padding:20px 35px;
text-decoration: none;
}
a.nxm:focus{
background:#088A4B;
color:#fff;
transition:0.33s;
}
a.s{
color:#0B6138;
transition:0.33s;
height:100px;
height:53px;
padding:10px 25px;
text-decoration: none;
}
a.s:hover{
color:#fff;
height:53px;
transition:0.33s;
}
input.nxm-1{
margin-top:120px;
border-color:#111;
width:50%;
line-height:35px;
outline:0;
}
input.nxm-1:focus{
background-color:#f3fbd7;
font-family: 'Open Sans', sans-serif;
outline:0;
}
.a-nxm{
color:#fff;
font-family: 'Poppins', sans-serif;
text-decoration: none;
margin:0px;
}
.a-nxm:focus{
color:#fff;
border: 1px dashed currentColor;
font-family: 'Poppins', sans-serif;
transition:0.0s;
text-decoration: none;
}
a.nxl{
background-color:#fff; color:#088A4B; width:70%; height:53px; border-radius:1px; border: 1px solid #088A4B;;
transition:0.33s;
padding:15px 35px;
text-decoration: none;
}
a.nxl:focus{
background:#088A4B;
color:#fff;
transition:0.34s;
padding:50px 47%;
}
@import url('https://fonts.googleapis.com/css2?family=Zen+Kurenaido&display=swap');
a.nxc{
background-color:#fff; color:#088A4B; width:70%; height:53px; border-radius:1px; border: 1px solid #088A4B;;
transition:0.33s;
padding:15px 35px;
text-decoration: none;
}
a.nxc:focus{
background:#088A4B;
color:#fff;
transition:0.34s;
padding:15px 35px;
}
